body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input {
  background-color: transparent;
}
input:focus {
  outline: none;
}

.auto input:-webkit-autofill,
.auto input:-webkit-autofill:hover,
.auto input:-webkit-autofill:focus,
.auto input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white
}

.auto-black input:-webkit-autofill,
.auto-black  input:-webkit-autofill:hover,
.auto-black  input:-webkit-autofill:focus,
.auto-black  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black
}


textarea:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
